---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="ja">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: 100%;
				margin: 0;
				display: flex;
				justify-content: center;
				gap: 4rem;
				padding-top: 4rem;
				padding-left: 2rem;
				padding-right: 0rem;
			}
			.prose {
				width: 720px;
				max-width: 100%;
				margin: 0;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			@media (max-width: 900px) {
				main {
					flex-direction: column;
				}
				.sidebar {
					width: 100%;
					max-width: 100%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article class="prose">
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<hr />
				</div>
				<slot />
			</article>
			<Sidebar />
		</main>
		<Footer />
	</body>
</html>
